<% event = Event.find(feed_item.event_id) %>


<li class="action" style="margin-top: 5px">
  <% if FeedItem.reasons[:connection] == feed_item.inserted_because %>
    <div class="left">
      <%= avatar event.user %>
      <strong>
        <%= link_to event.user.name, profile_path(event.user)%> created an event:
      </strong>
      <br/>
    </div>

    <div class="item">
      <%= render 'explore/event.html', :event => event %>
    </div>

  <%else%>
      <%= render 'explore/event.html', :event => event %>
  <% end %>
</li>
