<script type='text/javascript'>
<%@feed_items.each do |feed|%>
  <% if feed %>
    <% if feed.reason == Feed.reasons[:subscription] %>
      <% action = feed.head_action %>
      <% if(action.action_type == Action.types[:event_created]) %>
        <% record = action.event %>
        <% record_type = RecordType.types[:event] %>
      <% elsif(action.action_type == Action.types[:search_comment]) %>
        <% record = action %>
        <% record_type = RecordType.types[:search_comment] %>
      <% else %>
        <% record = action %>
        <% record_type = (action.action || action).action_type %>
      <% end %>
    <% else %>
      <% action = feed.index_action %>
      <% record = action %>
      <% record_type = (action.action || action).action_type %>
    <% end %>

      $('#action-list').append(
      '<div class="post">' +
        '<%= escape_javascript render(:partial => 'shared/records', :locals => { :record => record, :record_type => record_type } ) %>' +
        '</div>'
    );
  <% end %>
<%end%>
</script>