<div class="block">
  <div class="content">
    <h2 class="title"></h2>
    <div class="inner">
      <%= form_for @user, :url => profile_path, :html => {:class => "form"} do |form| %>
        <%= render form %>
      <% end %>
    </div>
  </div>
</div>
