<%#*<div class="block">%>
  <%#*<div class="content">%>
    <%#*<h2 class="title">Add Comment</h2>%>
    <%#*<div class="inner">%>
      <%#= form_for [@user, @comment], :html => { :class => "form" } do |form| %>
        <%#= form.text_area :body, :cols => "80", :rows => "2" %>
        <%#= render 'shared/form_submit_button'  %>
      <%# end %>
    <%#*</div>%>
  <%#*</div>%>
<%#*</div>%>

<div class="block">
  <div class="content">
    <h2 class="title">Latest Activity</h2>
    <div class="inner">
      <ul class="list">
        <% @activities.each do |activity| %>
          <%= render 'shared/activity', :activity => activity %>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<% content_for :sidebar do %>
  <div class="block notice">
    <%= link_to image_tag(@user.try(:avatar_url) || 'web-app-theme/avatar.png', :class => "avant"), '#' %>
    <br/>
    <center><b><%= @user.name %></b></center>

    <%#if friendship = current_user.friendships.by_friend(@user).first %>
      <%#= link_to "Stop Following", friendship, :method => :delete %>
    <%#elsif @user != current_user%>
      <%#= link_to "Follow", friendships_path(:friend_id => @user), :method => :post %>
    <%#end%>
    <%#*<div class="clear"></div>%>
  <%#*</div>%>

<% end %>

