<%= avatar(@user,
  :fb_size => "large",
  :style => "vertical-align: center;",
  :class => 'skip-hovercard',
  :size => '') %><br/>
<span style="font-size: 12px; font-weight: bold;">
  <%= @user.name %> <br />
</span>
