<%= form.error_messages %>
<div class="group">
  <label class="label">Name</label>
  <%= form.text_field :name , :class => "text_field" %>
  <br/>
  <span class="description">Please specify a name for your search subscription.</span>
</div>

<div class="group">
  <label class="label">Frequency</label>
  <%= form.select :frequency, SearchSubscription::frequencies.values %>
  <br/>
  <span class="description">Please specify a frequency.</span>
</div>
