.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
nbproject
nbproject/*
config/database.yml
config/secrets.yml
public/javascripts/cache/*
public/stylesheets/cache/*
public/system
public/uploads
public/assets
coverage
system
dump.rdb
