<div style="margin-bottom:15px;font-size:12px">
  Hi <%=@user.first_name%>,
</div>
<div style="margin-bottom:15px">
  We are sorry to inform you that
  <%=link_to @event.title, event_url(@event), :style=>"color:#0981BE;text-decoration:none;font-weight:bold"%>
  has been canceled.
</div>
<div style="margin-bottom:15px">
  <div style="border-bottom:1px solid #ccc;line-height:5px;">
    &nbsp;
  </div>
  <table style="cellspacing:0;cellpadding:0;border-collapse:collapse;margin-top:5px;">
    <tbody>
      <tr style="vertical-align:top">
        <td style="padding-right:5px">
          <p>We would like to apologize for the inconvenience</p>
          <p>Why not <%= link_to 'add your own StreetMeet', explore_url(:create_event=>1), :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %> and invite your friends</p>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="border-bottom:1px solid #ccc;line-height:5px">
    &nbsp;
  </div>
</div>
