<h1>New Comment</h1>
<p>
  <%= @comment.user.name %> made a comment in your community of interest:
</p>
<p>
  <%= @comment.body %>
</p>
<p>
  ... <br/>
  [[ insert @comment details here ]]<br/>
  ...<br/>
</p>
<p>
  To view this comment, just follow this link: [[TODO - need resource page for comment much like FB wall post]]
</p>