<html>
  <body style="margin: 0; padding: 0; color: #FFFCD5;">
    <table style="width: 100%; background-color: #D3D3D3; font: 13px Arial, Helvetica, sans-serif; line-height: 1.5em;">
      <tr>
        <td style="width: 25%">&nbsp;</td>
        <td>
          <div style="padding: 10px 0px 25px 100px; color: #333;">Can't see the pictures? Click <a href="http://socialstreet.com/events/streetmeet_of_the_week">here</a> to view in a web browser.</div>
          <table style="width: 552px; border-spacing: 0; border-bottom: #000 solid 1px; background-image: url('http://socialstreet.com/images/email_bg.png'); background-color: white;" cellpadding="0" cellspacing="0">
            <tr style="background-color: #4A4A4A;">
              <td style="width: 50px"></td>
              <td style="width: 100px; padding-top: 10px; padding-bottom: 10px;">
                <a href="http://socialstreet.com" style="text-decoration: none; color: white;">
                  <img src="http://socialstreet.com/images/ss_site_logo.png" alt="SocialStreet" style="border-style: none" />
                </a>
              </td>
              <td style="width: 400px; vertical-align: middle;">
                <span style="font-size: 20px; font-weight: 800; color: #FFC233; text-shadow: 2px 2px #333; position: relative;">
                  SteetMeet
                </span>
                <span style="font-size: 20px; font-weight: 800; text-shadow: 2px 2px #333; position: relative;">
                  of the Week
                </span>
                <span style="float: right;">
                  <a href="http://socialstreet.com/events/44/rsvps/new" style="text-decoration: none; color: white;">
                  <img src="http://socialstreet.com/images/btn_attend.png" alt="Attend" style="border-style: none;" />
                </a>
                  </span>
              </td>
              <td style="width: 50px;"></td>
            </tr>
            <tr style="height: 5px; background-color: #C6DCE6;">
              <td colspan="4" style="border-right: #000 solid 1px; border-left: #000 solid 1px;">&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="6"></td>
              <td colspan="2" style="padding-top: 20px;">
                <img src="http://socialstreet.com/images/bautista.png" alt="Bautista" width="500px"/>
              </td>
            </tr>
            <tr style="background-color: #4A4A4A;">
              <td style="padding: 20px;">
                <img src="http://socialstreet.com/images/event_types/baseball.png" alt="Baseball" height="60px" width="60px" />
              </td>
              <td>
                <br/>
                <span style="font-size: 24px; font-weight: 900; color: #FFC233; text-shadow: 2px 2px #333; position: relative; top: -5px;">
                  FREE
                </span>
                <span style="font-size: 24px; font-weight: 900; text-shadow: 2px 2px #333; position: relative; top: -5px;">
                  BLUE JAYS TICKETS
                </span>
                <br/>
                <span style="font-size: 20px; font-weight: 900; text-shadow: 2px 2px #333; position: relative; top: -5px;">
                  Season Finale
                </span>
              </td>
            </tr>
            <tr style="background-color: #4A4A4A; color: white; vertical-align: top;">
              <td colspan="2" style="padding: 20px; padding-top: 0px;">
                <h2 style="color: #FFC233; text-shadow: 2px 2px #000;">What?</h2>
                <p>
                  You're officially invited to the very first StreetMeet of the Week!  Come meet some new people, have a few soda-pops* and catch the last chance of the season to watch your boys in blue... for free!  Invite your stinky roomate, hot sister**, or the biggest Jays fan you know.  Everyone is welcome.  Baseball fans, beer fans, ladies!  What else are you doing?  It's on a Thursday!  First 50 people to click "Attend" to this StreetMeet on SocialStreet are guaranteed a free ticket!  For anyone who has never been to the Rogers Centre or seen the Blue Jays play, this is a great opportunity to see an amazing venue in this great city of Toronto. Come and see the Jays close out their season against the LA Angels.
                </p>
                <p>
                  There are over 2,500 students from York, Ryerson and UofT on our invite list so it's first come, first serve. If you can't make it be sure to stay posted for next week's StreetMeet of the Week where it's always guaranteed to be a great time... on us.
                </p>

              </td>
            </tr>
            <tr style="background-color: #4A4A4A; color: white; vertical-align: top;">
              <td colspan="2" style="padding: 20px; padding-top: 0px;">
                <h2 style="color: #FFC233; text-shadow: 2px 2px #000;">When?</h2>
                Thursday, September 22nd.  5:30 to 6:30pm at Adelaide Street Pub (Corner of Adelaide / Blue Jays Way).  Look for me or anyone in a SocialStreet t-shirt.  We'll walk over to the Rogers Centre at 7pm.
              </td>
            </tr>
            <tr style="background-color: #4A4A4A; color: white; vertical-align: top;">
              <td colspan="2" style="padding: 20px; padding-top: 0px;">
                <h2 style="color: #FFC233; text-shadow: 2px 2px #000;">WTF is SocialStreet?</h2>
                SocialStreet makes it easy to discover friends that enjoy the same things as you.  You can now easily connect with people around you by attending and organizing StreetMeets.  Whether you're into pickup hockey, a pickup artist... or even a sandwich artist!  SocialStreet is here to connect you with the people you need, when you need them.  Life is more fun with people so get off your seat and hit the street.
              </td>
            </tr>
            <tr style="background-color: #4A4A4A; color: white; vertical-align: top;">
              <td colspan="2" style="padding: 20px; padding-top: 0px;">
                <img src="http://socialstreet.com/images/uncle_mike.png" alt="Your uncle Mike" /> <br/>
                <a href="http://socialstreet.com/events/44/rsvps/new" style="position: relative; left: 175px; top: 5px; text-decoration: none; color: white;">
                  <img src="http://socialstreet.com/images/btn_attend.png" alt="Attend" style="border-style: none;" />
                </a>
              </td>
            </tr>
            <tr style="height: 25px;"></tr>
          </table>
          <div style="text-align: center; color: #333; font-size: 9px; position: relative; left: -60px; top: 5px;">
            * If you are diabetic, soda pops are optional. If you an alcoholic, they are not. <br/>
            ** If you have a hot sister her attendance is mandatory. Her failure to attend will result in forfeiture of your ticket.
            <p>
              www.socialstreet.com
            </p>
          </div>
        </td>
        <td style="width: 25%">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>