<html>
  <head>
    <!--[if lt IE 8]><link href="http://socialstreet.com/stylesheets/smow_ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  </head>

  <body style="margin: 0; padding: 0; color: #FFFCD5;">
    <table style="width: 100%; background-color: #D3D3D3; font: 13px Arial, Helvetica, sans-serif; line-height: 1.5em;">
      <tr>
        <td style="width: 25%">&nbsp;</td>
        <td>
          <div style="padding: 10px 0px 25px 100px; color: #333;">Can't see the pictures? Click <a href="http://socialstreet.com/events/streetmeet_of_the_week">here</a> to view in a web browser.</div>
          <table class="table-bg" style="width: 552px; border-spacing: 0; border-bottom: #000 solid 1px; background-image: url('/images/email_bg_v_large.png'); background-color: white; background-repeat: no-repeat;" cellpadding="0" cellspacing="0">
            <tr style="background-color: #4A4A4A;">
              <td style="width: 40px">&nbsp;</td>
              <td style="width: 100px; padding-top: 10px; padding-bottom: 10px;">
                <a href="http://socialstreet.com" style="text-decoration: none; color: white;">
                  <img src="http://socialstreet.com/images/ss_site_logo.png" alt="SocialStreet" style="border-style: none" />
                </a>
              </td>
              <td style="width: 400px; vertical-align: middle;">
                <span class="header-text" style="font-size: 20px; font-weight: 800; color: #FFC233; text-shadow: 2px 2px #333; position: relative;">
                  StreetMeet
                </span>
                <span class="header-text" style="font-size: 20px; font-weight: 800; text-shadow: 2px 2px #333; position: relative;">
                  of the Week
                </span>
                <span style="float: right;">
                  <a href="http://socialstreet.com/events/62/rsvps/new" style="text-decoration: none; color: white;">
                    <img src="http://socialstreet.com/images/btn_attend.png" alt="Attend" style="border-style: none;" />
                  </a>
                </span>
              </td>
              <td style="width: 40px;">&nbsp;</td>
            </tr>
            <tr style="height: 5px; background-color: #C6DCE6;">
              <td class="blue-td" colspan="4" style="border-right: #000 solid 1px; border-left: #000 solid 1px;">&nbsp;</td>
            </tr>
            <tr>
              <td class="side-td" rowspan="6"></td>
              <td colspan="2" style="padding-top: 20px;">
                <img src="http://socialstreet.com/images/ballroom.png" alt="Free Bowling!" width="100%"/>
              </td>
            </tr>
            <tr style="background-color: #4A4A4A;">
              <td style="padding: 20px;">
                <img src="http://socialstreet.com/images/event_types/bowling.png" alt="Free Vodka" height="60px" width="60px" />
              </td>
              <td>
                <br/>
                <span style="font-size: 24px; font-weight: 900; color: #FFC233; text-shadow: 2px 2px #333; position: relative; top: -5px;">
                  FREE
                </span>
                <span style="font-size: 24px; font-weight: 900; text-shadow: 2px 2px #333; position: relative; top: -5px;">
                  Bowling @ The Ballroom
                </span>
                <br/>
                <span style="font-size: 20px; font-weight: 900; text-shadow: 2px 2px #333; position: relative; top: -5px;">

                </span>
              </td>
            </tr>
            <tr style="background-color: #4A4A4A; color: white; vertical-align: top;">
              <td colspan="2" style="padding: 20px; padding-top: 0px;">
                <h2 style="color: #FFC233; text-shadow: 2px 2px #000;">What?</h2>
                <p>Last week's StreetMeet was the largest yet!  Just under 200 SocialStreet users signed up to experience an epic FREE open bar vodka party. </p>
                <p>
                  This week, come bowl with us for FREE!  We're going to be having an amazing time at The Ballroom, downtown Toronto's newest interactive entertainment center.  Anyone who clicks "attend" to this StreetMeet on SocialStreet is eligible to bowl for FREE for up to 3 hours!  Come grab some balls, hit a lucky strike, and try and stay out of the gutter next Thursday afternoon as you have fun with friends new and old.
                </p>
                <p>
                  There are over 2,500 students from York, Ryerson and U of T on SocialStreet so be sure to show up early.  If you can't make it be sure to stay posted for next week's StreetMeet of the Week where it's always guaranteed to be a great time... on us.
                </p>
              </td>
            </tr>
            <tr style="background-color: #4A4A4A; color: white; vertical-align: top;">
              <td colspan="2" style="padding: 20px; padding-top: 0px;">
                <h2 style="color: #FFC233; text-shadow: 2px 2px #000;">When?</h2>
                Thursday, October 20th from 1pm-4pm at The Ballroom in the heart of Toronto's entertainment district.  145 John St. (Queen and John).
              </td>
            </tr>
            <tr style="background-color: #4A4A4A; color: white; vertical-align: top;">
              <td colspan="2" style="padding: 20px; padding-top: 0px;">
                <h2 style="color: #FFC233; text-shadow: 2px 2px #000;">What is SocialStreet?</h2>
                SocialStreet makes it easy to discover things to do with friends that enjoy the same things as you.  You can now easily connect with people around you by attending and organizing StreetMeets.  Life is more fun with people so get off your seat and hit the street!
              </td>
            </tr>
            <tr style="background-color: #4A4A4A; color: white; vertical-align: top;">
              <td colspan="2" style="padding: 20px; padding-top: 0px;">
                <h2 style="color: #FFC233; text-shadow: 2px 2px #000;">See you Thursday! </h2>
                <img src="http://socialstreet.com/images/ballroom3.jpg" alt="FREE Bowling @ The Ballroom" width="100%"/>
                <br/> <br/><br /><br />
                <a href="http://socialstreet.com/events/62/rsvps/new" style="position: relative; left: 175px; text-decoration: none; color: white;">
                  <img src="http://socialstreet.com/images/btn_attend.png" alt="Attend" style="border-style: none;" />
                </a>
              </td>
            </tr>
            <tr>
              <td rowspan="6"></td>
              <td colspan="2" style="padding-top: 20px;">
                &nbsp;
              </td>
            </tr>
          </table>
          <div style="padding: 10px 0px 25px 225px; color: #333; font-size: 9px;">
            <p>
              <a href="http://www.socialstreet.com">www.socialstreet.com</a>
            </p>
          </div>
        </td>
        <td style="width: 25%">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>