<div class="event-wall-comment">
  <div class="event-wall-user-holder">
    <div class="event-wall-user-image">
      <%=avatar(comment.user, :size => "55x55")%>
    </div>
    <div class="event-wall-user-name">
      <%=comment.user.name%>
    </div>
  </div>
  <div class="event-wall-comment-body" style="position: relative;">
    <%=comment.body %>    
  </div>
  <div class="comment-time"><%= time_ago_in_words(comment.created_at, Time.now) %> ago</div>
</div>