<%= content_for :left_side_pane do %>
  <div class="content-left-holder">
    <div class="clh-content">
      <%= form_for [@event, @smow], :html => {:multipart => true} do |form| %>
        <%= render 'form', :form => form %>
        <%= form.submit %>
      <% end %>
    <% end %>
  </div>
</div>

