@font-face {
    font-family: JLEE;
    src: url('/fonts/JLEE.eot');
}

body, html {
    overflow: hidden;
}

#content {
    display: table-row;
}

#left_side_pane {
    top: auto;
}

#right_side_pane {
    top: auto;
}

#how_it_works {
    top: auto;
}

