.w1 { min-height:100%; }
/*.w1 .w2 {padding-bottom: expression(document.getElementById("footer").offsetHeight + "px");}*/
#footer {
	position:relative;
	margin-top:expression(- this.offsetHeight + "px");
}
.w1 {height: expression(document.documentElement.offsetHeight + "px");}
/* .pop-up .heading strong {
	line-height: 25px;
	zoom: 1;
	display: block;
	filter:progid:DXImageTransform.Microsoft.Blur (pixelradius=1, enabled='true')
	progid:DXImageTransform.Microsoft.Shadow (color=#000000, direction=150, Strength=2);
}*/

.facebook-checkbox {
    padding-right: 0px;
}

textarea {
    overflow: hidden;
}

