.w1 { min-height:100%; }
/*.w1 .w2 {padding-bottom: expression(document.getElementById("footer").offsetHeight + "px");}*/
#footer {
	position:relative;
	margin-top:expression(- this.offsetHeight + "px");
}
.w1 {height: expression(document.documentElement.offsetHeight + "px");}
/* .pop-up .heading strong {
	line-height: 25px;
	zoom: 1;
	display: block;
	filter:progid:DXImageTransform.Microsoft.Blur (pixelradius=1, enabled='true')
	progid:DXImageTransform.Microsoft.Shadow (color=#000000, direction=150, Strength=2);
}*/

.facebook-checkbox {
    padding-right: 0px;
}

textarea {
    overflow: hidden;
}


.box div.topleft {
    display: block;
    background: url("/images/bg-form-post-message-large.png") top left no-repeat;
    padding: 0.0em 0em 0em 0em;
}

.box div.topright {
    display: block;
    background: url("/images/bg-form-post-message-large.png") top right no-repeat;
    /*padding: 2.0em;*/
    margin: -0.0em 0 0 0;
}

.box div.bottomleft {
    display: block;
    height: 27px;
    margin-top: -2.0em;
    background: url("/images/bg-form-post-message-large.png") bottom left no-repeat;
}

.box div.bottomright {
    display: block;
    background: url("/images/bg-form-post-message-large.png") bottom right no-repeat;
    height: 27px;
    margin-left: 2.0em;
}

.sign-in-ribbon {
    left: 0px;
    top: -60px;
}

.feedback-btn {
    left: 0px;
}

@font-face {
    font-family: JLEE;
    src: url('/fonts/JLEE.eot');
}

