<div class="block" id="block-lists">
  <div class="content" style="margin: 0 auto; width: 500px; padding: 50px 0 50px 0;">
    <h3>Terms and conditions</h3>
    Terms and conditions go here

    <%unless params[:display_only] %>
      <%= form_tag tnc_accepted_authentications_path, :id => "tnc_form" do -%>
        <%= check_box_tag "accept", true, false, :class => "tnc_accept" -%>I accept the terms and conditions
      <%- end -%>
    <%- end -%>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.tnc_accept').change(function (){
      $('#tnc_form').submit();
    })
  });
</script>




