//Set the modal title
$('#empty_modal_base').find('#modal-title').text("Please review our terms of service");

//Set the content
$('#empty_modal_base').find('.ajax-content').html('<%= escape_javascript(render(:template => 'authentications/accept_tnc_modal.html')) %>');

//Hide the parts we don't want
$('#empty_modal_base').find('.facebok-checkbox-in-header').hide();
$('#empty_modal_base').find('.save-button-at-bottom').hide();


//show modal
$('#empty_modal_base').show();

//Show overlay
if(document.getElementById("ss_modal_overlay") === null)
{
$("body").append("<div id='ss_modal_overlay'></div>");
$("#ss_modal_overlay").addClass("ss_modal_overlayBG");
}




