<%content_for :center_pane do%>
  <div id="scroller" class="scroll-pane container" style="overflow: auto">
    <div style="padding:10px;list-style:decimal;color:white;">
      Your privacy is of paramount importance to SocialStreet. Our privacy policy is based on
      the following principles:
      We only ask for information that we need in order to make SocialStreet function
      and in order to improve it.
      We don’t share your information with anyone except to comply with the law,
      develop our products, or protect our rights.
      We don’t store personal information unless required for the on-going operation of
      one of our services.
      If you have questions about deleting or correcting your personal data please contact us
      here [NTD:link]. Please be aware that some of this information is drawn from third party
      services when you sign up for a SocialStreet account and that this information can only
      be changed via these services.
      <h2>Privacy Policy</h2>
      <ol>
        <li>  It  is 1844636 Ontario Inc.’s (“SocialStreet”) policy to respect your privacy regarding
          any information we may collect while operating our websites. </li>
        <li> We will not use or share your information with anyone except as described in this
          Privacy Policy.</li>
        <lh>Terms of Service</lh>
        <li> The Website is offered subject to your acceptance without modiﬁcation of all of the
          terms and conditions contained herein and all other operating rules, policies (including,
          without limitation, SocialStreet’s Privacy Policy) and procedures that may be published
          from time to time on this Site by SocialStreet (collectively, the “Agreement”).</li>
        <lh>Gathering of Personally-Identifying Information</lh>
        <li>Certain visitors to SocialStreet’s websites choose to interact with SocialStreet in ways
          that require SocialStreet to gather personally-identifying information. The amount and
          type of information that SocialStreet gathers depends on the nature of the interaction.
          <ol><li>For instance, by signing up for an account with SocialStreet, you agree to
              share some information from a service provider that you agree to connect and
              share information with SocialStreet (“Service Provider”), such as Facebook, with
              SocialStreet, and a subset of this information with the public.</li></ol></li>
        <li>In each case, SocialStreet collects such information only insofar as is necessary or
          appropriate to fulﬁll the purpose of the visitor’s interaction with SocialStreet. </li>
        <li>SocialStreet does not disclose personally-identifying information other than as
          described below. </li>
        <li>Visitors can always refuse to supply personally-identifying information, with the
          caveat that it may prevent them from engaging in certain website-related activities.</li>
        <lh>Disclosure</lh>
        <li>All Content you post to public areas of the Service may be publicly viewed.</li>
        <li><ol>In addition to anything posted by you on SocialStreet’s website, by signing up to the
            service you agree to the public disclosure of your name and photo as they are displayed
            on your Service Provider(s) or as modiﬁed on your SocialStreet proﬁle.
            <li> A list of all activities, each with a list of attending users and their proﬁle
              pictures may also be viewed by the entire public.</li></ol></li>
        <li>You also agree to share with all other users that have signed in to a SocialStreet
          account:
          (i) your location as entered by you on SocialStreet;
          (ii) the activities you create or participate in; and
          (iii) a randomly selected subset of the contacts listed on your Service Provider
          that you have in common with any SocialStreet user viewing your proﬁle.</li>
        <li>Finally, you agree to disclose only to SocialStreet your email and gender as listed on
          your Service Provider(s), your geolocation as disclosed by your internet browser, and
          the list of your contacts on your Service Provider(s). SocialStreet will not display or
          disclose this information and will only use it to provide and improve its services.</li>
        <lh>Website Visitors</lh>
        <li> Like   most  website  operators,  SocialStreet  collects  non-personally-identifying
          information of the sort that web browsers and servers typically make available, such as
          the browser type, language preference, referring site, and the date and time of each
          visitor request. SocialStreet’s purpose in collecting non-personally identifying
          information is to better understand how SocialStreet’s visitors use its website.</li>
        <li>SocialStreet also collects potentially personally-identifying information like Internet
          Protocol (IP) addresses for logged in users. SocialStreet only discloses logged in user
          and publisher IP addresses under the same circumstances that it uses and discloses
          personally-identifying information as described below.</li>
        <lh>Aggregated Statistics and Third Party Services and Third Party Websites</lh>
        <li>SocialStreet may collect statistics about the behavior of visitors to its websites. For
          instance, SocialStreet may monitor the most popular activities on the SocialStreet site.
          SocialStreet may display this information publicly or provide it to others.</li>
        <li>SocialStreet uses several Third Party Services to help understand use of its
          services, including but not limited to Google Analytics, New Relic and Amazon Simple
          Email Service. These services collect the information sent by your browser as part of a
          web page request, including cookies and your IP address. These services also receive
          this information and their use of it is governed by their Privacy Policy.</li>
        <li>We are not responsible for the practices employed by third parties’ websites linked
          to or from SocialStreet or third parties that connect to SocialStreet to offer you additional
          services. Please remember that when you use a link to go from SocialStreet to another
          website, or sign up for services connecting to SocialStreet offered by third parties, our
          Privacy Policy is no longer in effect. Your interaction with any other online service, including those that have a link on SocialStreet, is subject to that service’s rules and
          policies.</li>
        <lh>Protection of Certain Personally-Identifying Information</lh>
        <li>SocialStreet discloses potentially personally-identifying and personally-identifying
          information only to those of its employees, contractors and afﬁliated organizations that
          (i) need to know that information in order to process it on SocialStreet’s behalf or
          to provide services available at SocialStreet’s websites, and
          (ii) that have agreed not to disclose it to others.</li>
        <li>SocialStreet will not rent or sell potentially personally-identifying and personallyidentifying information to anyone.</li>
        <li>Other than to its employees, contractors and afﬁliated organizations, as described
          above, SocialStreet discloses potentially personally-identifying and personallyidentifying information only in response to a subpoena, court order or other
          governmental request, or when SocialStreet believes in good faith that disclosure is
          reasonably necessary to protect the property or rights of SocialStreet, third parties or
          the public at large.</li>
        <li>If you are a registered user of a SocialStreet website and have supplied your email
          address, SocialStreet may occasionally send you an email to tell you about new
          features, solicit your feedback, or keep you up to date with what’s going on at
          SocialStreet.</li>
        <li>If you send us a request (for example via our feedback link [NTD:link]), we reserve
          the right to publish it after removing any identifying information in order to help us clarify
          or respond to your request or to help us support other users.</li>
        <li>SocialStreet takes all measures reasonably necessary to protect against the
          unauthorized access, use, alteration or destruction of potentially personally-identifying
          and personally-identifying information. We cannot, however, ensure or warrant the
          security of any information you transmit to SocialStreet or guarantee that your
          information on the Service may not be accessed, disclosed, altered, or destroyed by
          breach of any of our physical, technical, or managerial safeguards.</li>
        <li>In the event that personal information is compromised as a result of a breach of
          security, SocialStreet will attempt to promptly notify those persons whose personal
          information has been compromised.</li>
        <lh>Business Transfers</lh>
        <li>If SocialStreet, or substantially all of its assets were acquired, or in the unlikely
          event that SocialStreet goes out of business or enters bankruptcy, user information
          would be one of the assets that is transferred or acquired by a third party.</li>
        <li>You acknowledge that such transfers may occur, and that any acquiror of
          SocialStreet may continue to use your personal information as set forth in this policy.</li>
        <lh>Cookies</lh>
        <li>A cookie is a string of information that a website stores on a visitor’s computer, and
          that the visitor’s browser provides to the website each time the visitor returns.
          <ol><li>SocialStreet uses cookies to help SocialStreet identify and track visitors,
              their usage of SocialStreet website, and their website access preferences.</li>
            <li>SocialStreet visitors who do not wish to have cookies placed on their
              computers should set their browsers to refuse cookies before using
              SocialStreet’s websites, with the drawback that certain features of SocialStreet’s
              websites may not function properly without the aid of cookies.</li></ol></li>
        <lh>Ads</lh>
        <li>Ads appearing on any of our websites may be delivered to users by advertising
          partners, who may set cookies. These cookies allow the ad server to recognize your
          computer each time they send you an online advertisement to compile information
          about you or others who use your computer. This information allows ad networks to,
          among other things, deliver targeted advertisements that they believe will be of most
          interest to you. This Privacy Policy does not cover the use of cookies by any
          advertisers.</li>
        <lh>Privacy Policy Changes</lh>
        <li>Although most changes are likely to be minor, SocialStreet may change its Privacy
          Policy from time to time, and in SocialStreet’s sole discretion.
          <ol><li>SocialStreet encourages visitors to frequently check this page for any
              changes to its Privacy Policy.</li></ol></li>
        <li>Your continued use of this site after any change in this Privacy Policy will constitute
          your acceptance of such change.</li>
      </ol>
      © Copyright SocialStreet 2011
      We are grateful to Automattic Inc. [NTD:link] for making their privacy policy available
      under a Creative Commons Sharealike license [NTD:link].
    </div>
  </div>
<% end %>

<script>
  $(function(){
    $('#center_pane').removeClass('invisible');
    $('#left_side_pane').addClass('hidden');

    cleanUpSelf = function(){
      $('#left_side_pane').removeClass('hidden');
    }
    resizeSelf = function(){
      var centerPaneBottom = $('#center_pane').offset().top + $('#center_pane').height();
      var scrollerTop = $('#scroller').offset().top;
      $('#scroller').height(centerPaneBottom - scrollerTop);
      initializeScrollPanes();
    }
    resizePageElements();
  });
</script>