
<div class="block" id="block-signup">
  <h2>Sign up</h2>
  <div class="content">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form"}) do |f| %>
      <%= devise_error_messages! %>

      <%= render f %>

      <div class="group navform wat-cf">
        <button class="button" type="submit">
          <img src="/images/web-app-theme/icons/tick.png" alt="Save" /> Signup
        </button>
      </div>
      <%= render :partial => "devise/shared/links" %>

    <% end %>
  </div>
</div>