<% if event.upcoming %>
  <%- if rsvp && Rsvp.statuses[:attending] == rsvp.status   -%>
    <%= link_to [:edit, event, rsvp], :remote=>true, :class => "btn-attending" do %>
      <span>Attending</span>
    <% end %>

    <% if !(defined?(hide_invite_link) && hide_invite_link) %>
      <p>or
        <%= link_to_popup_modal_ajax  'Invite People', 'Invite your friends', 'empty_modal_sidebar', load_modal_event_rsvp_invitation_path(event, rsvp, :js), nil, nil, :id => "add_invitees_button"  %>
      </p>
    <% end %>
  <% else %>
    <%= link_to [:new, event, :rsvp], :remote => true, :class => "btn-attend" do %>
      <span>Attend</span>
    <% end %>

    <%#Invites should be here too, but currently requires @rsvp%>
  <%end%>
<%end%>
