<div id="prompt_holder" class="popup-holder container hidden">
  <div id="close_prompt_btn" class="popup-close"><%= image_tag "btn-close5.png" %></div>
  <div id="prompt_text" class="popup-text text-shadow" style="margin: 20px 0px 15px 0px;">

  </div>
  <div style="clear: both"></div>
  <div class="popup-fields-holder">
    <%= hidden_field_tag "prompt_follow_href" %>
    <%= text_field_tag :prompt_answer, nil, :style => "width: 100%;" %><br/>
    <%= image_tag('continue-button.png', :id=>'send_prompt_button', :class=>"next-arrow drop-shadow") %>
  </div>
  <div style="clear: both"></div>  
</div>
