<div data-role="header" data-position="inline">
  <%= link_to "List View", m_explore_path, {'data-role' => 'button', 'data-theme' => 'a', 'data-transition' => 'flip', 'id' => 'list_view_link'}%>
  <h1><%=link_to "SocialStreet", '/m'%></h1>
  <%= link_to "Filter", '#explore_filter', {'data-role' => 'button', 'data-theme' => 'a', 'data-position' => 'inline'}%>
</div>

<div id="map_search_box">
  <input type="text" name="name" id="explore_change_map_address" value="" placeholder="Enter an Address or Drag Map" />
</div>

<div id="explore_event_details_wrapper" style="max-height:130px;width:100%;position:absolute;z-index:1000;overflow:hidden">
  <div id="explore_event_details">
    <ul data-role="listview" data-theme="a" data-inset="true" data-scroll="true" id="display_results">

    </ul>
  </div>
</div>


<div id="explore_map_canvas" class="full-page-map"></div>

<script type="text/javascript">
  $(function(){
    //attach_iScroll('explore_event_details_wrapper');
  });
</script>