<div class="x-small-box y-small-box position-y-top position-x-left">
  <div class="create-when-title">
    When?
    <br/>
    <span class="set-when"></span>
  </div>
</div>

<div class="x-small-box y-small-box position-y-middle position-x-left hidden">
  <div id="create_date_picker" class="position-y-middle position-x-center mobiscroll">
  </div>
</div>

<div id="create_when_next_arrow" class="next-arrow next-arrow-position hidden">
  <span class="next-arrow-text">Create</span>
</div>





