<div class="x-small-box y-small-box position-y-top position-x-left">
  <div class="create-when-title">
    When?
  </div>
</div>

<div id="create_date_picker" class="position-y-middle position-x-center mobiscroll">
</div>
