<div class="x-small-box y-small-box position-y-top position-x-left drop-shadow">
  <div class="create-when-title">
    When?
    <br/>
    <span class="set-when"></span>
  </div>
</div>

<div class="x-small-box y-small-box position-y-middle position-x-left drop-shadow hidden">
  <div id="create_date_picker" class="position-y-middle position-x-center mobiscroll">
  </div>
</div>

<div class="position-y-middle position-x-left drop-shadow">
  <div style="height:120px;width:90px;position:relative;overflow: hidden;-webkit-gradient(linear,left bottom,left top,color-stop(0, black),color-stop(0.45, #444),color-stop(0.55, #444),color-stop(1, black))">
    <ul style="position:relative;width:100%;display:block;z-index:2;">
      <li style="height:40px;font-size: 26px;text-align: center;line-height: 40px">1</li>
      <li style="height:40px;font-size: 26px;text-align: center;line-height: 40px">2</li>
      <li style="height:40px;font-size: 26px;text-align: center;line-height: 40px">3</li>
      <li style="height:40px;font-size: 26px;text-align: center;line-height: 40px">4</li>
      <li style="height:40px;font-size: 26px;text-align: center;line-height: 40px">5</li>
      <li style="height:40px;font-size: 26px;text-align: center;line-height: 40px">6</li>
    </ul>
  </div>
</div>

<div id="create_when_next_arrow" class="next-arrow next-arrow-position hidden">
  <span class="next-arrow-text">Create</span>
</div>





