<div id="event_full" class="popup-holder container">
  <div id="close_full_event_btn" class="popup-close"><%= image_tag "btn-close5.png" %></div>
  <div class="alert-text text-shadow important-color" style="margin: 20px 0px 15px 0px;">
    Sorry, but this StreetMeet is full
  </div>
  <div style="clear: both"></div>
</div>
