
<div data-role="page" id="create_what">
  <ul data-role="listview" data-theme="a" data-inset="true" data-filter="true" data-filter-placeholder="Enter Keyword...">
    <% @event_types.each do |event|%>
      <li>
        <%= link_to image_tag(event.image_path) + event.name, "#create_when" %>
      </li>
    <% end %>
  </ul>

</div>

<div data-role ="page" id="create_when">
  <h1>This is the when page</h1>
  <a href="#create_what">Back to what...</a>
</div>
