<% if event.canceled %>
  <%= image_tag('canceled-btn.png') %>

<% else %>

  <% if current_user && rsvp = event.event_rsvps.attending.by_user(current_user).first%>
    <%= image_tag('invite-friends-btn.png', :class=>"nav-link", "data-ajax-href" => event_path(event, :invite => true), :style => "vertical-align: middle;") %>

    <% if on_show %>
      <div class="unattend-btn">
        <%=link_to "I can no longer attend...", [:edit, event, rsvp], :remote=>true %>
      </div>
    <% end %>

  <% else %>
    <%= image_tag('ill-join-btn.png', :class=>"join-event-btn #{on_show ? 'ajax-link' : 'nav-link'}", "data-ajax-href" => new_event_event_rsvp_path(event, :show_event => on_show)) %>
  <% end %>
<% end %>