<% if current_user && rsvp = event.event_rsvps.attending.by_user(current_user).first%>
  <div class="already-joined_btn">
    Already Joined
  </div>
  <div class="unattend-btn">
    <%=link_to "Click here if you can no longer join...", [:edit, event, rsvp], :remote=>true %>
  </div>
<% else %>
  <div class="join-event-btn">
    <%=link_to "I'll Join", [:new, event, :event_rsvp], :remote => true %>
  </div>
<% end %>