<li id="<%=user.id%>" class="container rounded-corners user-for-invitation" >
  <div class="user-image-for-invitation">
    <%=avatar(user, :size => "55x55", :class=> "drop-shadow")%>
  </div>
  <div class="user-name-for-invitation">
    <%=user.name%>
  </div>
</li>
