<% user = invitation.to_user %>
<% if user %>
  <%= render 'user', :user => user, :pre_existing => true %>
<% else %>
  <div class="user email-only">

    <div class="avatar"><%= image_tag "/images/avatar.gif" %></div>
    <span class="name"><%= invitation.email %></span>
    
    <div class="clear"></div>

  </div>
<% end %>
