<%= form_tag event_rsvp_invitations_path(@event, @rsvp), :method => :post, :class => "modal-submit-form invite-form" do  %>
  <div class="heading">
    <strong class="day"><span class="invitation-count"><%= @invitations.count -%></span></strong>
    <span class="day-info">Invitees</span>
  </div>
  <div class="friends-list-holder">
    <ul class="selected-list-invitations">
      <% @invitations.each do |i| %>
        <%= render 'invitations/invitation', :invitation => i %>
      <% end %>
    </ul>
  </div>
<% end %>