<%= form.error_messages %>
<div class="group">
  <label class="label">Your RSVP Status:</label>
  <%= form.select :status, Rsvp.statuses.values, :include_blank => true %><br/>
  <span class="description">Please set your RSVP status above.</span>
</div>
