<div class="block">

  <div class="content">
    <h2 class="title">Create RSVP for <%= @event.title %></h2>
    <div class="inner">
      <%= form_for [@event, @rsvp], :html => {:class => "form"} do |form| %>
        

        <%= render form %>
        <%= render 'shared/form_submit_button' %>
      <% end %>
    </div>
  </div>
</div>
