
<li>
  <%= avatar rsvp.user %>
  <div class="text-holder">
    <% if rsvp.user.fb_uid? && current_user.can_friend?(rsvp.user) %>
      <%= link_to 'Add to Facebook', '#', :class => "add-to-fb-button", "data-fb-uid" => rsvp.user.fb_uid %>
    <% end %>
    <strong class="ttl">
      <%= rsvp.user.name %>
    </strong>
  </div>
</li>
