<div class="block">
  <div class="content">
    <h2 class="title">Other people that attended <%= @event.name  %></h2>
    <div class="inner">
      <ul class="list">
        <% @rsvps.each do |rsvp| %>
          <%= render 'rsvp', :rsvp => rsvp %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :end_of_body do %>
  <script>
    $(function() {
      $('.add-to-fb-button').click(function(e) {
        e.stopPropagation();
        var $btn = $(this);
        var friendId = $btn.data('fb-uid');
        console.log(friendId);
        FB.ui(
        {
          method: 'friends',
          name: 'Name goes here',
          id: friendId
        },
        function(response) {
          console.log(response);
          if (response && response.action == 1) {
            alert('Friend request was sent');
            $btn.remove();
          } else {
            alert('Friend request was not sent.');
          }
        }
      );
        return false;
      });
    });
  </script>
<% end %>