<%= form_tag event_administrators_path(@event), :method => :post, :class => "admin-form" do  %>
  <div class="heading">
    <strong class="day"><span class="administrator-count"><%= @administrator_rsvps.count -%></span></strong>
    <span class="day-info">Administrators</span>
  </div>
  <div class="friends-list-holder">
    <ul class="selected-list-administrators">
      <% @administrator_rsvps.each do |administrator_rsvp| %>
        <%= render 'administrators/administrator_rsvp', :rsvp => administrator_rsvp %>
      <% end %>
    </ul>
  </div>
<%- end -%>
