<style>
  .user.selected {
    background-color: #DDD;
  }
  .user-list {   
    overflow: scroll;
  }
  .selected-list {    
    overflow: scroll;
  }

  .remove-btn {
    display: none;
  }
  .selected-list-administrators .remove-btn {
    display: block;    
  }
</style>

<div class="form-holder">
  <div class="row">
    <form action="" method="GET">
      <input type="text" class="search-field text text1" placeholder="Friends or email" />
    </form>
  </div>
  <p><strong>Check as many friends or enter one email at a time</strong></p>
</div>
<div class="users-holder">
  <div class="users-list">
    <div class="ul1 user-list">
      <ul>
        <% @rsvps.each do |rsvp| %>
          <%= render 'administrators/user', :user => rsvp.user, :pre_existing => rsvp.administrator? %>
        <% end %>
        <% @connections.each do |connection| %>
          <%= render 'administrators/user', :user => connection.to_user %>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render 'shared/form_submit_button' %>
</div>

<script>
  var searchURL = '<%= connections_path %>';
  var timeout = null;
  
  $(function() {
    
    var $selectedList = $('.selected-list-administrators');
    var $userList = $('.user-list');
    var lastQuery = '';
    
    $('.user-list .user').live('click', function(e) {
      var $this = $(this);
      var userId = $this.data('user-id');
      // make sure it's removeable before removing the invite
      if ($this.hasClass('selected') && !$this.hasClass('cannot-remove')) {
        $this.removeClass('selected');
        $selectedList.find('.user[data-user-id="'+userId+'"]').remove();
      } else if (!$this.hasClass('selected')) {
        $this.addClass('selected');
        $selectedList.prepend($this.clone());
      }
    });
    // Need to use .live() b/c elements in selected-list are dynamically added
    // So they may not be there at DOM ready time
    $('.selected-list-administrators .user .remove-btn').live('click', function(e) {
      var $user = $(this).closest('.user');
      var userId = $user.data('user-id');
      $user.remove();
      $userList.find('.user[data-user-id="'+userId+'"]').removeClass('selected');
      return false;
    });

    

    $('input.button').click(function() {
      $('form.admin-form').submit();
    });
  });

  function isEmail(string) {
    var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
    return reg.test(string);
  }
</script>
