<html>
  <body style="background-color: #333">
    <div style="width: 300px; margin: 0 auto; margin-top: 10%;">
      <%= image_tag "ss_site_logo_big.png" %><br/>
      <h3 style="text-align: center; color: #FFFCD5;">We are currently launching a new version of the site.</h3>
      <h3 style="text-align: center; color: #FFFCD5;">Please check back soon.</h3>
    </div>

  </body>
</html>
