<li id="<%=user.id%>" class="user-for-invitation">
  <div class="user-image-for-invitation">
    <%=avatar(user, :size => "55x55")%>
  </div>
  <div class="user-name-for-invitation">
    <%=user.name%>
  </div>
</li>
