<div class="heading">
  <fieldset class="search-address">
    <label for="where1">Where?</label>
    <%= text_field_tag 'map_location', params[:map_location], :class => "text_field do-not-submit text", :placeholder => "Enter Address" %>
  </fieldset>
</div>