<div class="heading">
  <fieldset class="search-address">
    <label for="keywords1">What?</label>
    <%= text_field_tag 'q', params[:q], :class => "q-textfield text_field do-not-submit text", :placeholder => "Add Keywords", "keyword-content-selector" => '#explore-keywords' %>
  </fieldset>
</div>