<div class="heading">
  <fieldset class="search-address">
    <label for="keywords1">What?</label>
    <%= text_field_tag 'q', params[:q], :class => "q-textfield text_field do-not-submit text", :placeholder => "Add Keywords", "keyword-content-selector" => '#explore-keywords' %>
  </fieldset>
</div>
<div class="box-content">  
  <ul id="explore-keywords" class="keyword">
    <% (params[:keywords] || []).reject{|k| k.blank?}.each do |keyword| %>
      <li class="keyword-pill" container-selector="#explore-keywords">
        <%= hidden_field_tag 'keywords[]', keyword %>
        <%= keyword %>
        <%= link_to('close', '#', :class => "remove-parent close", "data-parent-selector" => ".keyword-pill") %>
      </li>
    <% end %>
  </ul>
</div>