<div class="box box1">
  <div class="heading">
    <h3>When?</h3>
    <div class="jump-date" style="display:inline; width: none;">
      <div class="col" style="height:0;float:right;">
        <span style="font-size: 9px;">Jump To:</span><%= text_field_tag 'from_date', params[:from_date] || Date.today, :class => "text_field", :style => "width: 80px; background: none; border: none;font-size:12px; text-align: center;" %>
      </div>
    </div>
    <a id="when_btn" href="#" class="btn">close</a>
  </div>
  <div id="sidebar_when_box_content" class="box-content">
    <div class="time-slot">
      <div class="col1">
        <div class="ttl">Availability:</div>
        <div class="row">Morning</div>
        <div class="row">Afternoon</div>
        <div class="row">Evening</div>
      </div>
      <div class="col2">
        <div class="days-week">
          <div>
            <span>Sun</span>
            <span>Mon</span>
            <span>Tue</span>
            <span>Wed</span>
            <span>Thu</span>
            <span>Fri</span>
            <span>Sat</span>
          </div>
        </div>
        <table>
          <%- 3.times do |tm| -%>
            <tr>
              <%- 7.times do |day| -%>
                <%= content_tag("td", :class => "calendar-times", "d-pos" => "#{day},#{tm}") do -%>
                <span></span>
              <%- end -%>
            <%- end -%>
            </tr>
          <%- end -%>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $('#when_btn').click(function(){
    $('#sidebar_when_box_content').slideToggle('fast', function() {
      if($('#when_btn').css("background-position") == "0px 0px")
        $('#when_btn').css("background-position", "-16px 0");
      else
        $('#when_btn').css("background-position", "0px 0px");
    });
    return false;
  });
</script>