$('#flash-messages').html('<div class="flash"><strong>Thanks you for you generous feedback. We look forward to reading it</strong></div>');
setTimeout(function(){
$('#flash-messages').html("");
}, 5000);

