<div data-role="page" data-theme="a" id="event_main">
  <div data-role="header" data-position="inline">
    <a data-theme ="c" data-rel="back" data-icon="arrow-l">Back</a>
    <h1><%=link_to "SocialStreet", '/m'%></h1>
  </div>

  <div data-role="content">
    <div data-role ="fieldcontain">
      <ul data-role="listview" data-inset="true">
        <% @event.attending_users.each do |attendee| %>
          <li>
            <%= avatar(attendee, :exclude_link => true, :size => "40x40") %>
            <%= attendee.name  %>
          </li>

        <% end %>

      </ul>
    </div>

  </div>
</div>