/* Override here any style defined by web-app-theme */
.form div.field_with_errors {
  display: inline-block;
}

.errorExplanation {
  margin:8px;
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
  padding-bottom: 10px;
}

.errorExplanation ul {
  margin-left: 40px;
}

.errorExplanation p {
  margin-left: 20px;
  margin-bottom: 2px;
}

#location-not-found {
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #DDD;
  opacity: 0.8;
  position: absolute;
  right: 10px;
  top: 11px;
  color: red;
  padding: 1px;
  display: none;
  z-index: 2;

}


#keywords {
  list-style: none;
}

#keywords li.keyword-pill {
  border: none;
  background-color: #CCC;
  background-image: none;
  background-position: inherit;
  float: left;
  padding: 6px;
  border-radius: 4px;
  margin: 4px;
}