<%= render "comment_box" %>
<div class="map-holder">
  <div id="location-map" class="map-frame" style="width:649px; height: 670px;"></div>
</div>

<%= render "explore/sidebar/map_view_sidebar" -%>
<%= render "main_top" -%>

<script>
  $(function() {
    checkMapPageSize();   
  });

  function checkMapPageSize() {
    if(!$('#header').hasClass("open")) {
      if(!isScrolledIntoView('.short-box')){
        $('.w2').removeClass('page-map');
        $('body').css('overflow', 'auto');
        $('#location-map').height(670);
        try {
          google.maps.event.trigger(sideMap, "resize");
        }
        catch(err) {
          // Do nothing with this error, the map doesn't exist on the page
        }

      }
      else {
        $('.w2').addClass('page-map');
        $('body').css('overflow', 'hidden');
      }

      if($('.w2').hasClass('page-map')) {
        resizeMap();
        resizeMapResults();
      }
    }
  }

  function resizeMap() {
    var winHeight = $(window).height();
    var resultsPosT = $("#location-map").offset().top;
    $("#location-map").height(winHeight - resultsPosT);
  }

  function resizeMapResults() {
    var winHeight = $(window).height();
    var resultsPosT = $(".post-frame").offset().top;

    $(".post-frame").height(winHeight - resultsPosT + 10);
    $('.post-frame').scrollTop(0);

  }

</script>
