<% searchable_results.each do |searchable|%>
  <% puts searchable.inspect %>
  <% if searchable.event %>
    <% type = RecordType.types[:event] %>
    <% record = searchable.event %>
  <% elsif searchable.comment %>
    <% type = RecordType.types[:search_comment] %>
    <% record = searchable.comment %>
  <% else %>
    <% unless Rails.env.production? || Rails.env.staging?  %>
      <p>YOU SHOULD NOT SEE THIS (DEBUG MESSAGE)</p>
    <% end %>

  <% end %>

  <div class="post">
    <%= render "shared/records", :record_type => type, :record => record %>
  </div>

<% end %>
