<ul data-role="listview" data-theme="a" data-inset="true" id="results_list">
        <% @searchables.each do |searchable| %>
            <li >
              <%= link_to image_tag(url_for_event_image(searchable.event), :size => "60x60") + searchable.event.title, event_path(searchable.event) %>
              <span id="explore-list-address"><%= searchable.event.location.text ? searchable.event.location.text : searchable.event.location.street %></span>
            </li>
            
          <% end %>
      </ul>