<div id="suggested_actions">
  <div id="not_enough_results" class="important-color">Not enough results?</div>
  <div id="suggested_actions_change_location">
    Try adjusting the <span class="important-color">Zoom/Position</span> of the map
  </div>
  <div id="suggested_actions_change_filter">
    or change the <span class="important-color">Keywords</span>
  </div>
  OR
  <br/>
  <div id="suggested_actions_create">
    Create a <span class="important-color nav-link" style="font-size:22px" data-ajax-href="<%= new_event_path %>">StreetMeet</span>
  </div>
  <!--  <ul id="suggested_actions_actions">
      <li>Create a <span class="important-color nav-link" data-ajax-href="<%= new_event_path %>">StreetMeet</span></li>
      <li>Leave a <span class="important-color">Message</span> indicating your interest</li>
      <li><span class="important-color">Subscribe</span> to be notified whenever a new StreetMeet is created</li>
    </ul>
  -->
</div>