<div id="suggested_actions" class="text-shadow">
  <div id="not_enough_results" class="important-color">Not enough results?</div>
  <div id="suggested_actions_change_location">
    Try adjusting the <span class="important-color">Zoom/Position</span> of the map
  </div>
  <div id="suggested_actions_change_filter">
    or change the <span class="important-color">Keywords</span>
  </div>
  OR
  <br/>
  <div id="suggested_actions_create">
    Plan a <span class="important-color nav-link" style="font-size:22px;text-decoration: underline" data-ajax-href="<%= new_event_path %>">StreetMeet</span>
  </div>
</div>