<div id="suggested_actions">
  Not enough results?
  <div id="suggested_actions_change_location">
    Try changing the Zoom/Position of the map
  </div>
  <div id="suggested_actions_change_filter">
    Or perhaps you can loosen your filter !!TODO!!
  </div>
  OR

  <ul id="suggested_actions_actions">
    <li>Create a <span class="important-color">StreetMeet</span></li>
    <li>Leave a <span class="important-color">Message</span> indicating your interest</li>
    <li><span class="important-color">Subscribe</span> to be notified whenever a new StreetMeet is created</li>
  </ul>

</div>