<div id="header">
  <div class="holder">
    <h1 class="logo"></h1>

    <div style="float:left">
      <div id="add_streetmeet_btn" class="btn btn-important-color">
        +StreetMeet
      </div>
      <div id="notify_me_btn" class="btn btn-not-important-color">
        Notify Me
      </div>
      <div id="explore_btn" class="btn btn-not-important-color hidden">
        Explore
      </div>
      <div class="btn btn-not-important-color">
        <% if user_signed_in? %>
          <%=link_to "Sign Out", destroy_user_session_path%>
        <% else %>
          <%= link_to "Sign in", '/auth/facebook'%>
        <% end %>
      </div>

      <!--      <div class="btn btn-not-important-color">
              +Message
            </div>
            <div class="btn btn-not-important-color">
              Filter
            </div>-->
      <!--      <div style="float:left">
      <%=image_tag("header_logout.png")%>
            </div>-->
    </div>
  </div>
</div>


