<div id="header">
  <div class="holder">
    <h1 class="logo"></h1>

    <div style="float:right">
      <div id="add_streetmeet_btn" class="btn btn-important-color">
        +StreetMeet
      </div>
      <div class="btn btn-not-important-color">
        Notify Me
      </div>
      <div class="btn btn-not-important-color">
        +Message
      </div>
      <div class="btn btn-not-important-color">
        Filter
      </div>
      <!--      <div style="float:left">
      <%=image_tag("header_logout.png")%>
            </div>-->
    </div>
  </div>
</div>


