<div class="container" style="z-index: 3; min-width: 683px; max-width:800px; margin: 0 auto; min-height: 350px; padding: 10px 75px 10px 10px;">
  <%= image_tag "icons.png", :alt => "SocialStreet", :style => "float: left; margin: 5px;" %>
  <%= image_tag "btn-close5.png", :alt => "X", :id => "close_how_it_works", :style => "float: right; margin-top: 20px;" %>

  <div style="clear: right;">
    <strong style="font-size: 30px;">
      <span style="color: #FFC233">Explore</span>
      <span style="color: white;">Real</span>
      <span style="color: #FFC233">Life.</span>
    </strong>
    <p style="margin-bottom: 30px; color: white; line-height: 1.25;">
      Our mission is to make it easy to discover friends that enjoy the same things as you!<br/>
      You can now easily connect with your own personalized community, no matter where you are.
      By attending and organizing "StreetMeets", you are sure to discover that you are surrounded by great friends!
    </p>
    <strong style="font-size: 20px;">
      <span style="color: white;">What are </span><span style="color: #FFC233">StreetMeets</span><span style="color: white;">?</span>
    </strong>
    <p style="color: white; line-height: 1.25;">
      StreetMeets are real life, everyday interactions between you and your community.<br/>
      Whether that means you are looking for a group to play basketball, a friend to watch the season finale of dancing with the stars or a buddy to check out the newest bar,
      you can find it all on SocialStreet!
    </p>    
  </div>
  <%= image_tag('explore-btn.png', :id => "how_it_works_find", :class=>"nav-link", "data-ajax-href" => root_path, :style => "clear: both; margin: 9px 0; width: 125px; float: right;") %>
<%#= image_tag('plan-btn.png', :class=>"nav-link", "data-ajax-href" => new_event_path) %>

  <div style="clear:both">&nbsp;</div>

</div>
