<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= yield %>
    <br/><br/>
    <p><small>This email was brought to you by SocialStreet [link]</small></p>
  </body>
</html>